<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203152648176-d48opqro9g3jvec9ki21e6171q4cc6k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203152648176-d48opqro9g3jvec9ki21e6171q4cc6k7</string>
	<key>API_KEY</key>
	<string>AIzaSyDRBZir1q-smuN1f_LNxNhz4unMgvFq2HA</string>
	<key>GCM_SENDER_ID</key>
	<string>203152648176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bostonuniversity.camApp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-7f2e2</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-7f2e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203152648176:ios:302fad66107f9340e8df35</string>
</dict>
</plist>